@page "/"


<div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->

<div class="header header-light">
    <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
    <h3>Expand</h3>
    <a href="#" class="open-contact"><i class="fa fa-envelope-o"></i></a>
</div>

<div class="navigation navigation-light">
    <div class="navigation-scroll">
        <a href="index.html" class="menu-item hide-menu-item"><i class="fa fa-star-o"></i><em>Welcome</em><i class="fa fa-circle"></i></a>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-home"></i><em>Homepage</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="index.html" class="submenu-item"><i class="fa fa-star-o"></i><em>Classic</em><i class="fa fa-circle"></i></a>
                    <a href="index-cover.html" class="submenu-item"><i class="fa fa-image"></i><em>Cover</em><i class="fa fa-circle"></i></a>
                    <a href="index-circle.html" class="submenu-item"><i class="fa fa-circle-o"></i><em>Circle</em><i class="fa fa-circle"></i></a>
                    <a href="index-video.html" class="submenu-item"><i class="fa fa-youtube-play"></i><em>Video</em><i class="fa fa-circle"></i></a>
                    <a href="idnex-shop.html" class="submenu-item"><i class="fa fa-shopping-cart"></i><em>Shop</em><i class="fa fa-circle"></i></a>
                    <a href="index-news.html" class="submenu-item"><i class="fa fa-newspaper-o"></i><em>News</em><i class="fa fa-circle"></i></a>
                    <a href="index-login.html" class="submenu-item"><i class="fa fa-lock"></i><em>Login</em><i class="fa fa-circle"></i></a>
                    <a href="index-signup.html" class="submenu-item"><i class="fa fa-code"></i><em>Signup</em><i class="fa fa-circle"></i></a>
                    <a href="index-splash.html" class="submenu-item"><i class="fa fa-bolt"></i><em>Splash</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-cog"></i><em>Features</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="features-typography.html" class="submenu-item"><i class="fa fa-font"></i><em>Typography</em><i class="fa fa-circle"></i></a>
                    <a href="features-tabs.html" class="submenu-item"><i class="fa fa-sticky-note-o"></i><em>Tabs</em><i class="fa fa-circle"></i></a>
                    <a href="features-toggles.html" class="submenu-item"><i class="fa fa-toggle-off"></i><em>Toggles</em><i class="fa fa-circle"></i></a>
                    <a href="features-accordion.html" class="submenu-item"><i class="fa fa-eye"></i><em>Accordion</em><i class="fa fa-circle"></i></a>
                    <a href="features-notifications.html" class="submenu-item"><i class="fa fa-bell-o"></i><em>Notification</em><i class="fa fa-circle"></i></a>
                    <a href="features-charts.html" class="submenu-item"><i class="fa fa-server"></i><em>Charts &amp; Stats</em><i class="fa fa-circle"></i></a>
                    <a href="features-buttons.html" class="submenu-item"><i class="fa fa-hand-pointer-o"></i><em>Buttons &amp; Icons</em><i class="fa fa-circle"></i></a>
                    <a href="features-detection.html" class="submenu-item"><i class="fa fa-mobile"></i><em>Device Detection</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-image"></i><em>Portfolio</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="portfolio-one.html" class="submenu-item"><i class="fa fa-list"></i><em>One Item</em><i class="fa fa-circle"></i></a>
                    <a href="portfolio-two.html" class="submenu-item"><i class="fa fa-th-large"></i><em>Two Items</em><i class="fa fa-circle"></i></a>
                    <a href="portfolio-adaptive.html" class="submenu-item"><i class="fa fa-image"></i><em>Adaptive</em><i class="fa fa-circle"></i></a>
                    <a href="portfolio-filter.html" class="submenu-item"><i class="fa fa-exchange"></i><em>Filterable</em><i class="fa fa-circle"></i></a>
                    <a href="portfolio-widescreen.html" class="submenu-item"><i class="fa fa-expand"></i><em>Widescreen</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-camera"></i><em>Gallery</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="gallery-round.html" class="submenu-item"><i class="fa fa-square-o"></i><em>Rounded</em><i class="fa fa-circle"></i></a>
                    <a href="gallery-square.html" class="submenu-item"><i class="fa fa-circle-o"></i><em>Square</em><i class="fa fa-circle"></i></a>
                    <a href="gallery-adaptive.html" class="submenu-item"><i class="fa fa-image"></i><em>Adaptive</em><i class="fa fa-circle"></i></a>
                    <a href="gallery-filter.html" class="submenu-item"><i class="fa fa-exchange"></i><em>Filterable</em><i class="fa fa-circle"></i></a>
                    <a href="gallery-widescreen.html" class="submenu-item"><i class="fa fa-expand"></i><em>Widescreen</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-files-o"></i><em>Pages</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="page-error.html" class="submenu-item"><i class="fa fa-warning"></i><em>Error</em><i class="fa fa-circle"></i></a>
                    <a href="page-soon.html" class="submenu-item"><i class="fa fa-clock-o"></i><em>Soon</em><i class="fa fa-circle"></i></a>
                    <a href="page-activity.html" class="submenu-item"><i class="fa fa-bell-o"></i><em>Activity</em><i class="fa fa-circle"></i></a>
                    <a href="page-profile-1.html" class="submenu-item"><i class="fa fa-user"></i><em>Profile 1</em><i class="fa fa-circle"></i></a>
                    <a href="page-profile-2.html" class="submenu-item"><i class="fa fa-user"></i><em>Profile 2</em><i class="fa fa-circle"></i></a>
                    <a href="page-login.html" class="submenu-item"><i class="fa fa-lock"></i><em>Login</em><i class="fa fa-circle"></i></a>
                    <a href="page-signup.html" class="submenu-item"><i class="fa fa-code"></i><em>Signup</em><i class="fa fa-circle"></i></a>
                    <a href="page-userlist.html" class="submenu-item"><i class="fa fa-list"></i><em>Userlist</em><i class="fa fa-circle"></i></a>
                    <a href="page-reviews.html" class="submenu-item"><i class="fa fa-star-o"></i><em>User Reviews</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu active-submenu active-menu hide-menu-item"><i class="fa fa-mobile"></i><em>AppStyled</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu show-submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="pageapp-chat.html" class="submenu-item"><i class="fa fa-comment-o"></i><em>Chat</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-login.html" class="submenu-item"><i class="fa fa-lock"></i><em>Login</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-signup.html" class="submenu-item"><i class="fa fa-code"></i><em>Signup</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-calendar.html" class="submenu-item"><i class="fa fa-calendar"></i><em>Calendar</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-tasklist.html" class="submenu-item active-menu"><i class="fa fa-check"></i><em>Tasklist</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-checklist.html" class="submenu-item"><i class="fa fa-list-ul"></i><em>Checklist</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-reminders.html" class="submenu-item"><i class="fa fa-bell-o"></i><em>Reminders</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-coverpage.html" class="submenu-item"><i class="fa fa-image"></i><em>Coverpage</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-timeline-1.html" class="submenu-item"><i class="fa fa-align-left"></i><em>Timeline 1</em><i class="fa fa-circle"></i></a>
                    <a href="pageapp-timeline-2.html" class="submenu-item"><i class="fa fa-align-center"></i><em>Timeline 2</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-shopping-cart"></i><em>Store</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="store-index.html" class="submenu-item"><i class="fa fa-home"></i><em>Store Front 1</em><i class="fa fa-circle"></i></a>
                    <a href="store-index-2.html" class="submenu-item"><i class="fa fa-home"></i><em>Store Front 2</em><i class="fa fa-circle"></i></a>
                    <a href="store-cover.html" class="submenu-item"><i class="fa fa-image"></i><em>Store Cover</em><i class="fa fa-circle"></i></a>
                    <a href="store-cards.html" class="submenu-item"><i class="fa fa-sticky-note-o"></i><em>Store Cards</em><i class="fa fa-circle"></i></a>
                    <a href="store-product.html" class="submenu-item"><i class="fa fa-gift"></i><em>Store Product</em><i class="fa fa-circle"></i></a>
                    <a href="store-cart-1.html" class="submenu-item"><i class="fa fa-shopping-cart"></i><em>Store Cart 1</em><i class="fa fa-circle"></i></a>
                    <a href="store-cart-2.html" class="submenu-item"><i class="fa fa-shopping-cart"></i><em>Store Cart 2</em><i class="fa fa-circle"></i></a>
                    <a href="store-checkout.html" class="submenu-item"><i class="fa fa-credit-card"></i><em>Store Checkout</em><i class="fa fa-circle"></i></a>
                    <a href="store-history.html" class="submenu-item"><i class="fa fa-archive"></i><em>Store History</em><i class="fa fa-circle"></i></a>
                    <a href="store-faq.html" class="submenu-item"><i class="fa fa-question"></i><em>Store FAQ</em><i class="fa fa-circle"></i></a>
                    <a href="store-about.html" class="submenu-item"><i class="fa fa-info"></i><em>Store About</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="has-submenu">
            <a href="#" class="menu-item open-submenu hide-menu-item"><i class="fa fa-newspaper-o"></i><em>News</em><i class="fa fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="submenu-scroll">
                    <a href="#" class="submenu-item close-submenu"><i class="fa fa-angle-left"></i><em>Back</em><i class="fa fa-times"></i></a>
                    <a href="news-index.html" class="submenu-item"><i class="fa fa-home"></i><em>News Front 1</em><i class="fa fa-circle"></i></a>
                    <a href="news-cover.html" class="submenu-item"><i class="fa fa-image"></i><em>News Cover</em><i class="fa fa-circle"></i></a>
                    <a href="news-list-1.html" class="submenu-item"><i class="fa fa-list"></i><em>Article List 1</em><i class="fa fa-circle"></i></a>
                    <a href="news-list-2.html" class="submenu-item"><i class="fa fa-list"></i><em>Article List 2</em><i class="fa fa-circle"></i></a>
                    <a href="news-list-3.html" class="submenu-item"><i class="fa fa-list"></i><em>Article List 3</em><i class="fa fa-circle"></i></a>
                    <a href="news-post-1.html" class="submenu-item"><i class="fa fa-pencil"></i><em>Article Post 1</em><i class="fa fa-circle"></i></a>
                    <a href="news-post-2.html" class="submenu-item"><i class="fa fa-pencil"></i><em>Article Post 2</em><i class="fa fa-circle"></i></a>
                    <a href="news-post-3.html" class="submenu-item"><i class="fa fa-pencil"></i><em>Article Post 3</em><i class="fa fa-circle"></i></a>
                    <a href="news-archive.html" class="submenu-item"><i class="fa fa-archive"></i><em>News Archive</em><i class="fa fa-circle"></i></a>
                    <a href="news-faq.html" class="submenu-item"><i class="fa fa-question"></i><em>News FAQ</em><i class="fa fa-circle"></i></a>
                    <a href="news-about.html" class="submenu-item"><i class="fa fa-info"></i><em>News About</em><i class="fa fa-circle"></i></a>
                    <a href="#" class="submenu-item close-menu"><i class="fa fa-times-circle"></i><em>Close Menu</em><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
        <a href="page-blog.html" class="menu-item hide-menu-item"><i class="fa fa-pencil"></i><em>Blog</em><i class="fa fa-circle"></i></a>
        <a href="page-videos.html" class="menu-item hide-menu-item"><i class="fa fa-youtube-play"></i><em>Videos</em><i class="fa fa-circle"></i></a>
        <a href="page-contact.html" class="menu-item hide-menu-item"><i class="fa fa-envelope-o"></i><em>Contact</em><i class="fa fa-circle"></i></a>
        <a href="#" class="menu-item close-menu hide-menu-item"><i class="fa fa-times-circle"></i><em>Close</em><i class="fa fa-circle"></i></a>
    </div>
</div>

<div class="navigation-overlay navigation-overlay-light"></div>

<div class="messenger messenger-light">
    <div class="messenger-scroll">
        <h3>Get in touch</h3>
        <a href="#" class="close-menu"><i class="fa fa-times"></i></a>
        <div class="container no-bottom">
            <div class="contact-form no-bottom">
                <div class="formSuccessMessageWrap" id="formSuccessMessageWrap" style="display: none;">
                    <div class="container">
                        <div class="decoration"></div>
                        <h4 class="center-text">Message Sent </h4>
                        <p class="center-text">Your message has been successfuly sent. Please allow up to 48 hours for a reply! Thanks!</p>
                    </div>
                </div>

                <form action="php/contact.php" method="post" class="contactForm" id="contactForm">
                    <fieldset>
                        <div class="formValidationError bg-red-dark color-white" id="contactNameFieldError" style="display: none;">
                            <p class="center-text uppercase small-text">Name is required!</p>
                        </div>
                        <div class="formValidationError bg-red-dark color-white" id="contactEmailFieldError" style="display: none;">
                            <p class="center-text uppercase small-text">Mail address required!</p>
                        </div>
                        <div class="formValidationError bg-red-dark color-white" id="contactEmailFieldError2" style="display: none;">
                            <p class="center-text uppercase small-text">Mail address must be valid!</p>
                        </div>
                        <div class="formValidationError bg-red-dark color-white" id="contactMessageTextareaError" style="display: none;">
                            <p class="center-text uppercase small-text">Message field is empty!</p>
                        </div>
                        <div class="formFieldWrap">
                            <label class="field-title contactNameField" for="contactNameField">Name:<span>(required)</span></label>
                            <input type="text" name="contactNameField" value="" class="contactField requiredField" id="contactNameField">
                        </div>
                        <div class="formFieldWrap">
                            <label class="field-title contactEmailField" for="contactEmailField">Email: <span>(required)</span></label>
                            <input type="text" name="contactEmailField" value="" class="contactField requiredField requiredEmailField" id="contactEmailField">
                        </div>
                        <div class="formTextareaWrap">
                            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">Message: <span>(required)</span></label>
                            <textarea name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
                        </div>
                        <div class="formSubmitButtonErrorsWrap contactFormButton">
                            <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="Send Message" data-formid="contactForm">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="share-bottom-tap-close"></div>
<div class="share-bottom share-bottom-light">
    <h3>Share our page</h3>
    <a href="#" class="close-menu"><i class="fa fa-times"></i></a>
    <div class="share-socials-bottom">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/">
            <i class="fa fa-facebook facebook-color"></i>
            Facebook
        </a>
        <a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net">
            <i class="fa fa-twitter twitter-color"></i>
            Twitter
        </a>
        <a href="https://plus.google.com/share?url=http://www.themeforest.net">
            <i class="fa fa-google-plus google-color"></i>
            Google
        </a>
        <a href="https://pinterest.com/pin/create/button/?url=http://www.themeforest.net/&amp;media=https://0.s3.envato.com/files/63790821/profile-image.jpg&amp;description=Themes%20and%20Templates">
            <i class="fa fa-pinterest-p pinterest-color"></i>
            Pinterest
        </a>
        <a href="sms:">
            <i class="fa fa-comment-o sms-color"></i>
            Text
        </a>
        <a href="mailto:?&amp;subject=Check this page out!&amp;body=http://www.themeforest.net">
            <i class="fa fa-envelope-o mail-color"></i>
            Email
        </a>
        <div class="clear"></div>
    </div>
</div>

<div id="page-content" class="bg-1">
    <div id="page-content-scroll" style="right: 0px;">
        <h3 class="header-mask header-mask-light">Welcome</h3>

        <div class="content-strip">
            <div class="strip-content">
                <h4>Tasklist Page</h4>
                <p>Check them off your list!</p>
                <i class="fa fa-check"></i>
            </div>
            <div class="overlay"></div>
            <img class="preload-image" data-original="images/pictures/1.jpg" alt="img" src="images/pictures/1.jpg" style="display: block;">
        </div>

        <div class="content">
            <div class="decoration"></div>

            <div class="container no-bottom">
                <div class="one-half-responsive">
                    <h4>Tasklists with multiple colors.</h4>
                    <p>
                        The oldschool design of tasklists with green and grey for completed
                        like most native mobile applications offer
                    </p>
                    <a href="#" class="tasklist-item tasklist-red tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Prepare a Design</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-green">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Mobiles</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-blue tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Tablets</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-magenta">
                        <i class="fa fa-check"></i>
                        <h5>Use latest Trends</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-orange">
                        <i class="fa fa-check"></i>
                        <h5>Design  User Experience</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-yellow">
                        <i class="fa fa-check"></i>
                        <h5>Use Simple Coding</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-gray">
                        <i class="fa fa-check"></i>
                        <h5>Document for Everyone</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-dark tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Upload to ThemeForest</h5>
                    </a>
                    <div class="decoration"></div>
                </div>
                <div class="one-half-responsive last-column">
                    <h4>Tasklists with default colors.</h4>
                    <p>
                        The oldschool design of tasklists with green and grey for completed
                        like most native mobile applications offer
                    </p>
                    <a href="#" class="tasklist-item tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Prepare a Design</h5>
                    </a>
                    <a href="#" class="tasklist-item">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Mobiles</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Tablets</h5>
                    </a>
                    <a href="#" class="tasklist-item">
                        <i class="fa fa-check"></i>
                        <h5>Use latest Trends</h5>
                    </a>
                    <a href="#" class="tasklist-item">
                        <i class="fa fa-check color-green-dark"></i>
                        <h5>Design  User Experience</h5>
                    </a>
                    <a href="#" class="tasklist-item">
                        <i class="fa fa-check"></i>
                        <h5>Use Simple Coding</h5>
                    </a>
                    <a href="#" class="tasklist-item">
                        <i class="fa fa-check"></i>
                        <h5>Document for Everyone</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Upload to ThemeForest</h5>
                    </a>
                    <div class="decoration"></div>
                </div>
            </div>

            <div class="decoration"></div>
        </div>

        <div class="footer">
            <div class="footer-socials no-bottom">
                <a href="#" class="scale-hover facebook-color"><i class="fa fa-facebook"></i></a>
                <a href="#" class="scale-hover twitter-color"><i class="fa fa-twitter"></i></a>
                <a href="#" class="scale-hover google-color"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="scale-hover phone-color"><i class="fa fa-phone"></i></a>
                <a href="#" class="scale-hover mail-color show-share-bottom"><i class="fa fa-refresh"></i></a>
                <a href="#" class="scale-hover bg-night-dark back-to-top"><i class="fa fa-angle-up"></i></a>
                <div class="clear"></div>
            </div>
            <p class="footer-strip">Copyright <span id="copyright-year">2022</span> Enabled. All Rights Reserved</p>
        </div>
        <div class="footer-clear"></div>
    </div>
</div>
<a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>

<div id="mynano" style="width: 100%; height: 3px; z-index: 9999; top: 60px; float: left; position: fixed;"><div style="background-color: rgb(41, 128, 185); width: 0px; height: 100%; clear: both; transition: height 250ms ease 0s; float: left;"></div></div>

@code{
    //[Inject]
    //public IJSRuntime JSRuntime { get; set; }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //        await JSRuntime.InvokeVoidAsync("startboot");
    //}
}